@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;;
}


:root {
  --gray-900: #111114;
  --gray-800: #222224;
  --gray-700: #444444;
  --gray-600: #666664;
  --gray-500: #888884;
  --gray-400: #aaaaa4;
  --gray-300: #ccccc4;
  --gray-200: #e2e2e4;
  --gray-100: #f9f9f9;
  --white: white;
  --blue: #1589F5;
  --light-blue: #E9F3F9;
  --dark-blue: #0974d8;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue);
  --border-radius: 4px;
}

::selection,
::-moz-selection {
  background: var(--focus-ring-color); /* WebKit/Blink Browsers */
}

body {
  background-color: white;
  /* font-weight: 400; */
  color: var(--text-color);
  caret-color: var(--text-color);
}

/* Typography
––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1em;
  font-weight: bold;
}

h1 {
  font-size: 3.052rem;
  /* letter-spacing: -0.04em; */
  line-height: 1;
}

h2 {
  font-size: 2.441rem;
  /* letter-spacing: -0.04em; */
  line-height: 1.2;
}

h3 {
  font-size: 1.953rem;
  /* letter-spacing: -0.03em; */
  line-height: 1.2;
}

h4 {
  font-size: 1.563rem;
  line-height: 1.3;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h6 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
}

p {
  font-weight: regular;
  margin-bottom: 1.563rem;
}

p > *:last-child {
  margin-bottom: 0;
}

span, label {
  font-weight: regular;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Buttons
––––––––––––––––––––––––––––––––– */

button[type='reset'],
button[type='submit'] {
  padding: 0.5rem 1.25rem;
  border-radius: var(--border-radius);
  
  margin-top: 1rem;
  margin-left: 8px;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, color 200ms ease-in-out;
}

button[type='reset']{
  background-color: white;
  border: 2px solid var(--light-blue);
}
button[type='submit']{
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: white;
}

button:hover {
  cursor: pointer;
}

button[type='reset']:hover {
  background: var(--light-blue);
}

button[type='submit']:hover {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
  /* color: black; */
}

